<style scoped lang="scss">
</style>

<template>
  <div class="dashboard h-full w-full min-h-screen max-h-screen flex flex-row justify-between">
    <Player></Player>
    <Folders></Folders>
  </div>
</template>

<script>
import axios from "axios";
import _ from "lodash";
import Player from "@/components/Player/Player.vue";
import Folders from "@/components/Folders.vue";

export default {
  name: "dashboard",
  components: {
    Player,
    Folders
  },
  created: function() {},
  data: function() {
    return {};
  },
  computed: {},
  methods: {}
};
</script>
