<template>
  <div class="home">
    <p @click="play">Play</p>
    <p @click="stop">Stop</p>
  </div>
</template>

<script>
// @ is an alias to /src
import { Howl, Howler } from "howler";

let sound;

export default {
  name: "home",
  components: {},
  methods: {
    play: function() {
      console.log("play");
      sound = new Howl({
        src: [
          "https://dl.dropboxusercontent.com/apitl/1/AFJwjMAyvg6bVwFIK8rkLJH7z71ioX2neeT8uPShBLRCgPU83RtKuRPYqCY81CdHOd8MFoAXk6R4iW8bUP2alWN0U_kr8w7_EKMiICsJw7nwDscu8U3C6LZScYdRbQCkLzl0H4RjB1R6Fbmrabn0EjbqqH5aTadTr9DSjJM7WRG99P61ISJyPFrQ1Rm945eWGJOnDn1Ezf437_odBhYnesUQ2_NciKcvxZb2Bx2fIVhR6hd7siH8fL4ad39cVzkBi9xcBeY7hbxXkeqAnywZIkSLnHv1sXIx8mnG7GKd1FECqC2LyxK7Js6W480-6dhjwig"
        ],
        format: ["mp3", "aac"],
        autoplay: true,
        loop: true,
        volume: 0.5,
        onend: function() {
          console.log("Finished!");
        }
      });

      sound.play();
    },
    stop: function() {
      sound.stop();
    }
  }
};
</script>
