<style scoped lang="scss">
</style>

<template>
  <div class="dashboard__folders w-9/12 h-full min-h-screen p-10 overflow-y-scroll">
    <div class="flex flex-row mb-5">
      <span
        @click="goBack(index, item)"
        v-for="(item, index) in history"
        :key="'nav'+index"
        class="text-lg mr-2 cursor-pointer"
      >{{item.name}}</span>
    </div>

    <div class="flex flex-col">
      <div
        v-for="(item, index) in folders"
        :key="index"
        class="cursor-pointer flex flex-row items-center py-4 px-5 border border-t-0 border-l-0 border-r-0 hover:bg-blue-100"
        @click="getPath(item, item.path_lower)"
      >
        <span class="mr-2 text-sm text-gray-600">{{item['.tag'] === 'file' ? 'Music' : 'Folder'}}</span>
        <span>{{item.name}}</span>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Folders",
  created: function() {
    this.getFolder();
  },
  data: function() {
    return {};
  },
  computed: {
    history: function() {
      return this.$store.getters["history"];
    },
    folders: function() {
      return this.$store.getters["folders"];
    }
  },
  methods: {
    goBack: function(index, item) {
      let self = this;
      this.$store.dispatch("history", { type: "HISTORY_BACK", data: index });
      this.getFolder(item, item.path);
    },
    getPath: function(item, path = "") {
      if (item[".tag"] === "folder") {
        this.getFolder(item, path);
      }
      if (item[".tag"] === "file") {
        this.getFile(item, path);
      }
    },
    getFile: function(item, path = "") {
      let self = this;
      //Prepare Post Payload
      let payload = {
        path: path
      };
      axios
        .post(process.env.VUE_APP_API + `/api/dropbox/file`, payload)
        .then(res => {
          console.log(res);
          this.$store.dispatch("file", { key: "load", data: true });
          this.$store.dispatch("file", {
            key: "content",
            data: res.data.content
          });
        })
        .catch(e => {
          console.log(e);
        });
    },
    getFolder: function(item, path = "") {
      let self = this;
      //Add Path to History
      if (path !== "") {
        this.$store.dispatch("history", {
          type: "HISTORY_ADD",
          data: {
            path: item.path_lower,
            name: item.name
          }
        });
      }
      //Prepare Post Payload
      let payload = {
        path: path
      };
      console.log(payload);
      axios
        .post(process.env.VUE_APP_API + `/api/dropbox`, payload)
        .then(res => {
          console.log(res);
          this.$store.dispatch("folders", {
            type: "FOLDERS_ADD",
            data: res.data.content.entries
          });
        })
        .catch(e => {
          console.log(e);
        });
    }
  }
};
</script>

