<style scoped lang="scss">
</style>

<template>
  <div></div>
</template>

<script>
export default {
  name: "Test",
  props: {
    msg: String
  },
  created: function() {},
  data: function() {
    return {};
  },
  computed: {},
  methods: {}
};
</script>

