<style scoped lang="scss">
.player__seek {
  position: relative;
  height: 5px;
  width: 100%;
}
.player__bar {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 5px;
  border-radius: 2px;
}
.player__point {
  z-index: 2;
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
</style>

<template>
  <div
    class="dashboard__player w-3/12 bg-blue-100 p-5 h-full min-h-screen flex flex-col items-center justify-end"
  >
    <div class="payer__control flex flex-col w-full items-center">
      <div class="flex flex-row mb-2">
        <span class="text-lg font-bold">{{file.load ? file.content.metadata.name : "Music"}}</span>
      </div>
      <div class="flex flex-row mb-2">
        <span class="text-blue-800 mx-4">
          <i class="fa fa-step-backward"></i>
        </span>
        <span
          class="text-blue-800 mx-4"
          v-if="player.state === 'stop' || player.state  === 'pause'"
          @click="play"
        >
          <i class="fa fa-play"></i>
        </span>
        <span class="text-blue-800 mx-4" v-if="player.state === 'loading'">
          <i class="fa fa-spinner"></i>
        </span>
        <span class="text-blue-800 mx-4" v-if="player.state === 'play'" @click="pause">
          <i class="fa fa-pause"></i>
        </span>
        <span class="text-blue-800 mx-4">
          <i class="fa fa-step-forward"></i>
        </span>
      </div>
      <div class="player__seek flex flex-col justify-center">
        <div class="player__point bg-blue-800" :style="pointPosition"></div>
        <div class="player__bar bg-blue-200"></div>
      </div>
    </div>
  </div>
</template>

<script>
import { Howl, Howler } from "howler";
let sound;
let pointInterval;

export default {
  name: "Player",
  created: function() {},
  data: function() {
    return {
      player: {
        state: "stop",
        position: 0,
        duration: 0
      }
    };
  },
  computed: {
    file: function() {
      return this.$store.getters["file"];
    },
    pointPosition: function() {
      let position = Math.floor(
        (this.player.position / this.player.duration) * 100
      );
      console.log(position);
      if (this.player.duration === 0) {
        return `left: 0%`;
      }
      return `left: ${position}%`;
    }
  },
  methods: {
    loadSound: function() {
      let self = this;
      this.player.state = "loading";
      sound = new Howl({
        src: [this.file.content.link],
        format: ["mp3", "aac"],
        autoplay: true,
        loop: false,
        volume: 0.5,
        onplay: function() {
          self.player.duration = this.duration();
          self.player.state = "play";
          console.log("play");
          //Move Point Bar
          pointInterval = setInterval(x => {
            self.player.position = sound.seek();
          }, 1000);
        },
        onend: function() {
          self.player.state = "stop";
          clearInterval(pointInterval);
        }
      });
    },
    play: function() {
      let self = this;
      //Load music if none is loaded yet
      if (this.player.state === "stop") {
        this.loadSound();
      }
      //Show Loading
      this.player.state = "loading";
      //Sound to Position
      if (this.player.position !== 0) {
        sound.seek(this.player.position);
      }
      //Play Sound
      sound.play();
    },
    pause: function() {
      let position = sound.seek();
      sound.pause();
      this.player.position = position;
      this.player.state = "pause";
      clearInterval(pointInterval);
    },
    stop: function() {
      sound.stop();
      this.player.state = "stop";
      this.player.position = 0;
      clearInterval(pointInterval);
    }
  }
};
</script>

